$white-med: rgba(255, 255, 255, 0.6);
$white-light: rgba(255, 255,255, 0.1);
$white-ulite: rgba(255, 255, 255, 0.01);
$primary: #3b8070;
$primary-highlight: rgb(69, 138, 122);
$primary-faint: rgba(59, 128, 112, 0.4);
$primary-bright: rgba(69, 138, 122, 0.9);
$grey-faint: rgba(200, 200, 200, 0.4);
$grey-med: rgba(200, 200, 200, 0.65);
// @mixin text-white($percent) {
//   color: rgba(255, 255, 255, $percent / 100)
// }